<section id='records'>
  <%= render 'records' %>
</section>
<%= render "refinery/race_registrations/admin/submenu" %>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::RaceRegistrations::Admin::CategoriesController.sortable? and ::Refinery::RaceRegistrations::Category.count > 1 %>
