<section id='left_body_content' >
  <%= @page[:left_body] %>
</section>


<section id='middle_body_content_without_right'>
  <div class="body">

    <%= raw @page[:middle_body] %>
    <%= render "registration_chooser" %>
    <%= render "registration" %>
  </div>
</section>








